# Build subdirectories.
/*build*
!/build-aux
!/build_msvc

*.pyc

# Oracle Knots GUI
gui-venv/
__pycache__/
*.pyo

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

#build tests
test/lint/test_runner/target/

/guix-build-*

/ci/scratch/
